.pending-wrapper {
  min-height: 100vh;
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pending-card {
  width: 650px;
  background: #116735;
  border-radius: 14px;
  padding: 30px;
  text-align: center;
}

.pending-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.icon {
  font-size: 36px;
  color: #116735;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 8px;
}

.status {
  background: #ffb3b3;
  color: #b30000;
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 12px;
}

.description {
  font-size: 14px;
  margin: 20px 0;
  color:white;
}

.details {
  margin-top: 20px;
  color:white;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-top: 1px solid white;
  font-size: 14px;
}