.sidebar {
  width: 240px;
  background: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid #ddd;
  position: relative;
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-100%);
}

.sidebar-logo {
  color: #116735;
  font-weight: bold;
  margin-top: 10px;
}

.sidebar-profile {
  text-align: center;
  margin: 20px 0 30px;
}

.sidebar-avatar-wrapper {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto 10px;
  border-radius: 50%;
  background: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar-avatar-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar-camera {
  position: absolute;
  bottom: 4px;
  right: 4px;
  width: 26px;
  height: 26px;
  background: #116735;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidebar-camera:hover {
  background: grey;
}

.sidebar-camera:hover svg path,
.sidebar-camera:hover svg circle {
  stroke: white;
}

.sidebar-name {
  font-weight: 600;
  margin-bottom: 1px;
}

.sidebar-role {
  font-size: 13px;
  color: gray;
  margin-top: 0;
  margin-bottom: 8px;
  display: block;
}

.sidebar-role::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #e5e7eb;
  margin: 10px 0 0;
}

.sidebar-nav a {
  display: block;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 6px;
  text-decoration: none;
  color: #333;
}

.sidebar-nav a.active,
.sidebar-nav a:hover {
  background: #e6f4ec;
  color: #116735;
}

.sidebar-logout {
  margin-top: auto;
  padding: 8px;
  border: none;
  background: #116735;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.sidebar-logout:hover {
  background: #dc2626; /* red */
}

.sidebar-logout:active {
  background: #b91c1c; /* darker red kapag pinindot */
}

/* MENU BUTTON */
.sidebar-menu {
  position: fixed;
  top: 16px;
  left: 16px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  display: none;
  z-index: 1000;
}

.sidebar-menu.show {
  display: block;
}

.menu-button {
  position: fixed;
  top: 16px;
  left: 16px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px;
  cursor: pointer;
  z-index: 1200;
}